body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  

  .header {
    position: fixed;
    top: 10%;
    left: 50%;
    color: #f3efef;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999; /* Ensure it's above other elements */
  }
  

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .gif {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    z-index: 999; /* Ensure it's above other elements */
}

#logoGif {
    width: 140px; /* Set the width as per your requirement */
}

  /* #logoGif{

    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 10%;
  } */
/* 
  #container-fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-left: 700px; /*Adjust this value to move the element to the right */
   
    /* margin-top: 1300px;
} */ */
h1 {
    h1 {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        margin: 20px 0;
        padding: 10px 20px;
      
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
  }
  .container {
    position: relative;
    z-index: 1;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #028102;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgb(61, 34, 184); /* Fix the syntax error here */
  }
  
  
  .switch-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #888;
    text-decoration: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animated {
    animation: fadeIn 0.8s ease-in-out;
  }
  